{% extends 'main.html' %}
{% load static %}


{% block content %}

<div class="banner-sect">

    <div class="row">
      <div class="col-12 col-md-8 col-lg-8 mt-4 mt-md-0 d-flex justify-content-center align-items-center">
        <div class="row wow fadeInUp">
          <div class="col-12 col-md-12 col-lg-12">
            <p class="banner-head">GIFTING AS A MISSION</p>
            <p class="banner-text">Show appreciation to customers and colleagues
                and manage your relationship with them through a
                new type of gifting platform specifically designed
                for Corporates.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center wow fadeInRight">
        <img src="{% static './img/banner2.png' %}" alt="" class="img-fluid banner-img">
      </div>
    </div>

</div>


<div class="whyus-sect">
    <div class="row wow fadeInUp">
        <div class="col-12">
            <p class="whyus-head">WHY US</p>
        </div>
    </div>
    <div class="row wow fadeInUp">

        <div class="col-12 col-md-3 col-lg-3">
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    <div class="row d-flex justify-content-center">
                        <img src="{% static './img/gift.png' %}" alt="" class="img-fluid gift-img">
                    </div>
                    <p class="whyus-text">Personalised
                        Corporate Gifts</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3">
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    <div class="row d-flex justify-content-center">
                        <img src="{% static './img/gift.png' %}" alt="" class="img-fluid gift-img">
                    </div>
                    <p class="whyus-text">Wide range of products for
                        Corporate and Promotional
                        Events</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3">
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    <div class="row d-flex justify-content-center">
                        <img src="{% static './img/gift.png' %}" alt="" class="img-fluid gift-img">
                    </div>
                    <p class="whyus-text">Systematic and
                        professional approach
                        in selecting products</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3">
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    <div class="row d-flex justify-content-center">
                        <img src="{% static './img/gift.png' %}" alt="" class="img-fluid gift-img">
                    </div>
                    <p class="whyus-text">Customers get an assurance of a genuine product
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">

    <div class="row mt-5 mb-5 wow fadeInUp">
        <div class="col-12 col-md-6 col-lg-6">
            <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-md-6 col-lg-6 d-flex align-items-center">
            <div class="row">
                <div class="col-12">
                    <p class="solution-head">OUR SOLUTION</p>
                    <p>Our solution was formed around 3 pillars -
                        a huge variety of products to ensure
                        recipient satisfaction, advanced technology
                        and automation for a seamless process
                        control, and a team of experts ready to
                        provide best practice and support to make
                        sure every customer’s need is met.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="client-sect">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-7 col-lg-7 wow fadeInLeft">
                <p class="client-text">CORPORATE GIFT CATALOG</p>
                <p class="client-sub-text">Find the perfect gift for your
                    requirement
                </p>
            </div>
            <div class="col-12 col-md-3 col-lg-3 d-flex align-items-center justify-content-center wow fadeInRight">
                <button class="btn btn-catalog">DOWNLOAD CATALOG</button>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-around">
    <div class="col-8 col-md-3 col-lg-3 brand-grids wow fadeInUp">
        <div class="row d-flex justify-content-center">
            <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid branding-img">
        </div>
        <p class="braning-text">I always buy Diwali gift for my
            employees from here! They
            really have a wide range of
            products. Certainly the best
            in this market. <br>
            - Kusum Mehra
        </p>
    </div>
    <div class="col-8 col-md-3 col-lg-3 brand-grids wow fadeInUp">
        <div class="row d-flex justify-content-center">
            <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid branding-img">
        </div>
        <p class="braning-text">I always buy Diwali gift for my
            employees from here! They
            really have a wide range of
            products. Certainly the best
            in this market. <br>
            - Kusum Mehra
        </p>
    </div>
    <div class="col-8 col-md-3 col-lg-3 brand-grids wow fadeInUp">
        <div class="row d-flex justify-content-center">
            <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid branding-img">
        </div>
        <p class="braning-text">I always buy Diwali gift for my
            employees from here! They
            really have a wide range of
            products. Certainly the best
            in this market. <br>
            - Kusum Mehra
        </p>
    </div>
   

</div>

<div class="brand-sect">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-12">
                <p class="whyus-head">TRUSTED BY TOP BRANDS</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center justify-content-md-around mb-4 wow fadeInUp">
            <div class="col-8 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid brand-img">
            </div>
            <div class="col-8 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid brand-img">
            </div>
            <div class="col-8 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid brand-img">
            </div>
            <div class="col-8 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid brand-img">
            </div>
            <div class="col-8 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid brand-img">
            </div>
        </div>
        <div class="row d-flex justify-content-around mb-5 wow fadeInUp">
            <div class="col-8 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid brand-img">
            </div>
            <div class="col-8 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid brand-img">
            </div>
            <div class="col-8 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid brand-img">
            </div>
            <div class="col-8 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid brand-img">
            </div>
            <div class="col-8 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid brand-img">
            </div>
        </div>
    </div>
</div>

{% endblock content %}