{% extends 'main.html' %}
{% load static %}


{% block content %}

<div class="banner-sect">

    <div class="row">
      <div class="col-12 col-md-8 col-lg-8 mt-4 mt-md-0 d-flex justify-content-center align-items-center">
        <div class="row wow fadeInUp">
          <div class="col-12 col-md-12 col-lg-12">
            <p class="banner-head">GIFTING AS A MISSION</p>
            <p class="banner-text">Show appreciation to customers and colleagues
                and manage your relationship with them through a
                new type of gifting platform specifically designed
                for Corporates.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center wow fadeInRight">
        <img src="{% static './img/banner2.png' %}" alt="" class="img-fluid banner-img">
      </div>
    </div>

</div>

    <div class="row brouchdiv d-flex align-items-center">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-8">
            <p class="broucher-title text-center">E-CATALOG</p>
          </div>
          <div class="col-12 col-md-3 col-lg-3 d-flex justify-content-center">
            <button class="btn btn-lg btn-dwn">Download Now</button>
          </div>
        </div>

      </div>
    </div>

<div class="whyus-sect">
    <div class="row wow fadeInUp">
        <div class="col-12">
            <p class="whyus-head">WHY US</p>
        </div>
    </div>
    <div class="row wow fadeInUp mb-4">

        <div class="col-12 col-md-3 col-lg-3">
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    <div class="row d-flex justify-content-center">
                        <img src="{% static './img/abticons/1.png' %}" alt="" class="img-fluid gift-img">
                    </div>
                    <p class="whyus-text">Personalised
                        Corporate Gifts</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3">
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    <div class="row d-flex justify-content-center">
                        <img src="{% static './img/abticons/2.png' %}" alt="" class="img-fluid gift-img">
                    </div>
                    <p class="whyus-text">Wide range of products for
                        Corporate and Promotional
                        Events</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3">
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    <div class="row d-flex justify-content-center">
                        <img src="{% static './img/abticons/3.png' %}" alt="" class="img-fluid gift-img">
                    </div>
                    <p class="whyus-text">Systematic and
                        professional approach
                        in selecting products</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3">
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    <div class="row d-flex justify-content-center">
                        <img src="{% static './img/abticons/4.png' %}" alt="" class="img-fluid gift-img">
                    </div>
                    <p class="whyus-text">Customers get an assurance of a genuine product
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">

    <div class="row mt-5 mb-5 wow fadeInUp">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="row mt-4 mb-5 d-flex align-items-center">
                <div class="col-12 col-md-6 col-lg-6">
                    <p class="solution-head-left">About Us</p>
                    <p class="sol-para">
                        Stellar is a registered corporate gifting company sphere headed by team of entrepreneurs, who have more than 15 + years of experience in various domains like Marketing / Business Development International Business, IT, Training / Development & Staffing.
                    </p>
                    <p class="sol-para">
                        Our Procurement platform offers centralized control with budget and credit limits, multiple order approval levels, MIS reporting for spend analysis @ management decisions and much more.
                    </p>
                    <p class="sol-para">
                        Stellar Gifts Pvt Ltd., the most preferred gifting partner, is a digitally elevated B2C platform that focuses on requirements for all scale of Industries. Our Delivery turnaround time and client response and service has ensured a strong retention of 98.8% average from the date of inception.
                    </p>
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <img src="{% static 'img/gifts/gift1.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>

            <div class="row line"></div>

            <div class="row mt-4 mb-5 d-flex align-items-center">
                <div class="col-6">
                    <img src="{% static 'img/gifts/gift5.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                    <p class="solution-head-left">Our Vision</p>
                    <p class="sol-para">
                        Our Vision is to bring smile on each and every customer when they hold value for money gifts.
                    </p>
                </div>
            </div>
            <div class="row line"></div>
            <div class="row mt-4 mb-5 d-flex align-items-center">
                <div class="col-6">
                    <p class="solution-head-left">Our Mission</p>
                    <p class="sol-para">
                        Bring revolution in the gifting industry, where buying and selling made easy to our customers. <br>
                        Deliver Innovative and Unique products to our clients year on year.

                    </p>
                </div>
                <div class="col-6">
                    <img src="{% static 'img/gifts/gift2.jpg' %}" alt="" class="img-fluid">

                </div>
            </div>
            <div class="row line"></div>
            <div class="row mt-4 mb-5 d-flex align-items-center">
                <div class="col-6">
                    <img src="{% static 'img/gifts/gift3.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                    <p class="solution-head-left">Our Slogan</p>
                    <p class="sol-para">
                        “Reshape Buying For Your Organisation With Our State-Of-The-Art Portal”
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row line"></div>
    
        <div class="row mt-5 mb-5 wow fadeInUp">
            <div class="col-12 col-md-6 col-lg-6">
                <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 col-lg-6 d-flex align-items-center">
                <div class="row">
                    <div class="col-12">
                        <p class="solution-head">OUR SOLUTION</p>
                        <p class="sol-para">Our solution was formed around 3 pillars -
                            a huge variety of products to ensure
                            recipient satisfaction, advanced technology
                            and automation for a seamless process
                            control, and a team of experts ready to
                            provide best practice and support to make
                            sure every customer’s need is met.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row line"></div>
<!-- <div class="client-sect">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-7 col-lg-7 wow fadeInLeft">
                <p class="client-text">CORPORATE GIFT CATALOG</p>
                <p class="client-sub-text">Find the perfect gift for your
                    requirement
                </p>
            </div>
            <div class="col-12 col-md-3 col-lg-3 d-flex align-items-center justify-content-center wow fadeInRight">
                <button class="btn btn-catalog">DOWNLOAD CATALOG</button>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
<div class="row">
    <div class="col-12 mt-5">
        <p class="solution-head text-center">
        TESTIMONIALS        
    </p>
    </div>
</div>
<div class="row d-flex justify-content-around">

    <div class="col-8 col-md-3 col-lg-3 brand-grids wow fadeInUp">
        <div class="row d-flex justify-content-center">
            <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid branding-img">
        </div>
        <p class="braning-text">I always buy Diwali gift for my
            employees from here! They
            really have a wide range of
            products.  <br>
            - Kusum Mehra
        </p>
    </div>
    <div class="col-8 col-md-3 col-lg-3 brand-grids wow fadeInUp">
        <div class="row d-flex justify-content-center">
            <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid branding-img">
        </div>
        <p class="braning-text">I always buy Diwali gift for my
            employees from here! They
            really have a wide range of
            products.  <br>
            - Kusum Mehra
        </p>
    </div>
    <div class="col-8 col-md-3 col-lg-3 brand-grids wow fadeInUp">
        <div class="row d-flex justify-content-center">
            <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid branding-img">
        </div>
        <p class="braning-text">I always buy Diwali gift for my
            employees from here! They
            really have a wide range of
            products. <br>
            - Kusum Mehra
        </p>
    </div>
   

</div>

</div>

<div class="brand-sect">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-12 mb-2 mt-2">
                <p class="main-headin">TRUSTED BY TOP BRANDS</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center justify-content-md-around mb-4 wow fadeInUp">
            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/1.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/2.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/3.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/4.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/5.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/6.png' %}" alt="" class="img-fluid brand-img">
            </div>

        </div>

        <div class="row d-flex justify-content-center justify-content-md-around mb-4 wow fadeInUp">
            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/7.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/8.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/9.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/10.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/11.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/12.png' %}" alt="" class="img-fluid brand-img">
            </div>

        </div>

        <div class="row d-flex justify-content-center justify-content-md-around mb-4 wow fadeInUp">

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/13.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/14.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/15.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/16.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/17.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/18.png' %}" alt="" class="img-fluid brand-img">
            </div>

         
        </div>

        <div class="row d-flex justify-content-center justify-content-md-around mb-4 wow fadeInUp">
            
            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/19.png' %}" alt="" class="img-fluid brand-img">
            </div>
            
            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/20.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/21.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/22.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/23.png' %}" alt="" class="img-fluid brand-img">
            </div>

            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/24.png' %}" alt="" class="img-fluid brand-img">
            </div>
            
            <div class="col-5 col-md-2 col-lg-2 client-about-grid">
                <img src="{% static './img/brand/25.png' %}" alt="" class="img-fluid brand-img">
            </div>
            
            

        </div>
    </div>
</div>

{% endblock content %}