{% extends 'main.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row mb-4">
        <div class="col-12 col-md-12 col-lg-12 mt-5">
            <p class="main-headin">CATALOGS</p>
        </div>
    </div>
    
    <div class="row d-flex justify-content-around mb-4">
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        ADIDAS Product Catalog
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/1.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        AIWA Brochure
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/2.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        ATLASWARE
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/3.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Audio Product PPT
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/4.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        AwG Tommy Polo
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/5.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-around mb-4">
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        C-folder
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/6.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                       CHOCOLATE BOX
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/7.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        cnotebook
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/8.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        COMBO OFFER 1
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/9.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Combo Offer 2
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/10.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-around mb-4">
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Combo Offer 3
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/11.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Corporate Gifting Catalogue
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/12.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        CROCODILE ALIGATOR_BLACK
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/13.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        CROCODILE ALIGATOR_CHARCOAL GREY
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/14.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        CROCODILE ALIGATOR_GREY MELANGE
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/15.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-around mb-4">
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        CROCODILE ALIGATOR_WHITE
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/16.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Crystal Acrylic
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/17.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Desktop Penstand
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/18.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Diary Powerbank 2022
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/19.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Diva & Laopala_Catalogue_2020
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/20.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-around mb-4">
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Earth Friendly Bags & Masks
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/21.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Ferrero Rocher
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/22.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Fragnance Candle
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/23.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        GIFT BOXES
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/24.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        HAPIPOLA CATALOG
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/25.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div class="row d-flex justify-content-around mb-4">
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        ADIDAS Product Catalog
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/1.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                       replace
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/1.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                       replace
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/1.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                       replace
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/1.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                       replace
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/1.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-around mb-4">
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        JBL BT-Speaker Catalogue
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/26.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        JBL Headphones Catalogue
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/27.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Keychain
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/28.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Laptop Backpack - Collection WC_Unic Magnate
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/29.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Medals
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/30.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-around mb-4">
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Name badges
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/31.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Pen, Cardholder & Keychain Combo
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/32.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Portronics Product Presentation
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/33.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        SAFARI CATALOG
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/34.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Scott Basic Polo
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/35.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-around mb-4">
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Scott Green Polo
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/36.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Scott International
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/37.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Scott Polo
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/38.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Tech catalogue 2022
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/39.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Trolley suitcase
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/40.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-around mb-4">
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Trophies
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/41.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Visiting Card Holder
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/42.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Wearables PPT
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/43.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        Zebronics corporate gifting Product Catalouge
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{% static './catalogs/44.pdf' %}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5">
           
        </div>

    </div>

</div>


{% endblock %}