{% extends 'main.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row mb-4">
        <div class="col-12 col-md-12 col-lg-12 mt-5">
            <p class="main-headin">CATALOGS</p>
        </div>
    </div>
    
    <div class="row d-flex justify-content-around mb-4">
        {% for catalog in catalogs %}
        <div class="col-6 col-md-2 col-lg-2 mt-5 mb-5 catagrid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{% static './img/pdf.png' %}" alt="" class="img-fluid pdfsize">
                </div>
                <div class="col-12 mt-2">
                    <p class="catalotitle">
                        {{catalog.title}}
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    
                    <a class="btn btn-dwn" href="{{catalog.file.url}}">
                        Download <i class="fas fa-cloud-download-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}