{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="banner-sect">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static '/img/slider/slider1.png' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static '/img/slider/slider2.png' %}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static '/img/slider/slider3.png' %}" alt="Third slide">
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="light-bg">
    <div class="row brouchdiv d-flex align-items-center">
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <p class="broucher-title text-center">E-CATALOG</p>
          </div>
          <div class="col-3">
            <button class="btn btn-lg btn-dwn">Download Now</button>
          </div>
        </div>

      </div>
    </div>

  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col-12 col-md-12 col-lg-12 mt-5">
        <p class="main-headin">SERVICES</p>
        <p class="main-sub-head">One place for all your gifting needs!</p>
      </div>
      <div class="col-12 col-md-12 col-lg-12 mt-4 mb-5">
        <div class="row">
          
            <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
            <div class="row d-flex justify-content-center">
              <div class="col-10 col-md-10 col-lg-10 services-grid">
                <div class="row d-flex justify-content-center">
                  <a class="nodecor" href="{% url 'services' %}">
                    <img src="{% static '/img/briefcase.png' %}" class="img-fluid serv-grid-img" alt="">
                  </a>
                </div>
                <a class="nodecor" href="{% url 'services' %}">

                  <p class="grid-text">Got an event around the
                    corner? Looking for
                    Innovative Corporate
                    Gift Ideas? Then, you'll
                    love our catalog of 4000+
                    products</p>
                    <p class="grid-text"> Read more ></p>
                  </a>
                </div>
              </div>
              </div>
            
              <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
              <div class="row d-flex justify-content-center">
                <div class="col-10 col-md-10 col-lg-10 services-grid">
                  <div class="row d-flex justify-content-center">
                    <a class="nodecor" href="{% url 'services' %}">

                      <img src="{% static '/img/giftcolor.png'%}" class="img-fluid serv-grid-img" alt="">
                    </a>
                  </div>
                  <a class="nodecor" href="{% url 'services' %}">

                    <p class="grid-text">Remote onboarding of
                      New Employees can be
                      very challenging. Make
                      it exciting by sending a
                      surprise goodie pack to
                      their homes.</p>
                    </a>
                    </div>
                </div>
              </div>
              
              <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
                <div class="row d-flex justify-content-center">
                  <div class="col-10 col-md-10 col-lg-10 services-grid">
                    <div class="row d-flex justify-content-center">
                      <a class="nodecor" href="{% url 'services' %}">

                        <img src="{% static './img/office.png' %}" class="img-fluid serv-grid-img" alt="">
                      </a>
                    </div>
                    <a class="nodecor" href="{% url 'services' %}">

                      <p class="grid-text">What if you could have a
                        white labelled ecomm
                        store, offering your
                        company merchandise,
                        exclusively for your
                        employees/dealers?
                      </p>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
                <div class="row d-flex justify-content-center">
                  <div class="col-10 col-md-10 col-lg-10 services-grid">
                    <div class="row d-flex justify-content-center">
                      <a class="nodecor" href="{% url 'services' %}">

                        <img src="{% static './img/letter.png' %}" class="img-fluid serv-grid-img" alt="">
                      </a>
                    </div>
                    <a class="nodecor" href="{% url 'services' %}">

                      <p class="grid-text">Looking to Reward your
                        top performers with Gift
                        Vouchers? Don't settle for
                        one brand. Let them
                        choose from 100+ brands.
                        KNOW MORE</p>
                      </a>
                      </div>
                  </div>
              </div>
                
              </div>
            </div>
          </div>
        </div>
        
      </div>
        
        <div class="light-bg">

          <div class="container">
            <div class="row wow fadeInUp">
              <div class="col-12 col-md-12 col-lg-12 mt-5">
                <p class="main-headin">OUR GIFT CATEGORIES</p>
                <p class="main-sub-head">Tired of trying to decide what gift of appreciation you should send to your clients and customers?
                  Perhaps you’ve exhausted your supply of self-branded coffee mugs, refrigerator magnets and
                  paperweights. Thankfully, the perfect gift exist and here it is, in all its glory.
                </p>
              </div>
            </div>
            
            <div class="row wow fadeInUp">
              <div class="col-12 col-md-12 col-lg-12 mt-5">
                <p class="main-headin">CUSTOMISED & PROMOTIONAL PRODUCTS CATEGORIES</p>
              </div>
              <div class="col-12 col-md-12 col-lg-12 mt-5">
                <div class="row d-flex justify-content-around">
                  
                  <div class="col-12 col-md-2 col-lg-2 promo-grid">
                    <div class="row d-flex justify-content-center">
                      <img src="{% static './img/product/1.png' %}" alt="" class="img-fluid categor-img">
                    </div>
                    <p class="categor-text">
                      Awards & Medals
                    </p>
                    </div> 
                    <div class="col-12 col-md-2 col-lg-2 promo-grid">
                      <div class="row d-flex justify-content-center">
                       
                        <img src="{% static '/img/product/2.png' %}" alt="" class="img-fluid categor-img">
                      </div>
                      <p class="categor-text">
                        Wooden Desk Top Pen Stand
                      </p>
                      </div>
                      <div class="col-12 col-md-2 col-lg-2 promo-grid">
                        <div class="row d-flex justify-content-center">
                      
                          <img src="{% static '/img/product/3.png' %}" alt="" class="img-fluid categor-img">
                        </div>
                        <p class="categor-text">
                          Card holder
                        </p>
                        </div>
                        <div class="col-12 col-md-2 col-lg-2 promo-grid">
                          <div class="row d-flex justify-content-center">
                     
                            <img src="{% static '/img/product/4.png' %}" alt="" class="img-fluid categor-img">
                          </div>
                          <p class="categor-text">
                            Coporate Bag
                          </p>
                          </div>
                         
                          
                        </div>
                      </div>
                      <div class="col-12 mt-5">
                        <div class="row d-flex justify-content-around">
                          <div class="col-12 col-md-2 col-lg-2 promo-grid">
                            <div class="row d-flex justify-content-center">
                             
                              <img src="{% static '/img/product/5.png' %}" alt="" class="img-fluid categor-img">
                            </div>
                            <p class="categor-text">
                              Electronic 
                            </p>
                          </div>
                          <div class="col-12 col-md-2 col-lg-2 promo-grid">
                            <div class="row d-flex justify-content-center">
                       
                              <img src="{% static '/img/product/6.png' %}" alt="" class="img-fluid categor-img">
                            </div>
                            <p class="categor-text">
                              MUG
                            </p>
                            </div>
                            <div class="col-12 col-md-2 col-lg-2 promo-grid">
                              <div class="row d-flex justify-content-center">
                              
                                <img src="{% static '/img/product/7.png' %}" alt="" class="img-fluid categor-img">
                              </div>
                              <p class="categor-text">
                                Pen
                              </p>
                              </div>
                              <div class="col-12 col-md-2 col-lg-2 promo-grid">
                                <div class="row d-flex justify-content-center">
                               
                                  <img src="{% static '/img/product/8.png' %}" alt="" class="img-fluid categor-img">
                                </div>
                                <p class="categor-text">
                                  T-shirt 
                                </p>
                                </div>
                        </div>
                      </div>
                    </div>
                  </div>
                          
                </div>
                          
<div class="light-bg">
  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col-12 mt-5">
        <p class="main-headin">WE ARE EAGER TO SERVE YOU</p>
        <p class="main-sub-head">We would love to speak to you, understand your requirements and offer
          solutions that are perfect for you. Don’t worry, we’re not intrusive or pesky
          Click on the button if you would like to talk
        </p>
        <div class="row d-flex justify-content-center">
          <button class="btn btn-lg btn-letstalk">
            <a href="{% url 'contact' %}">
              LET'S TALK
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="client-sect">

  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col-12 mt-5">
        <p class="main-headin">WHAT OUR CLIENT'S SAYS</p>
      </div>
      <div class="mb-5 col-12 col-md-6 col-lg-6 mt-5">
        <div class="row d-flex justify-content-center justify-content-lg-around">
          <div class="col-4 col-md-3 col-lg-3">
            <img src="{% static './img/client/client20.png' %}" alt="" class="img-fluid">
          </div>
          <div class="col-4 col-md-3 col-lg-3">
            <img src="{% static './img/client/client21.png' %}" alt="" class="img-fluid">
          </div>
          <div class="col-4 col-md-3 col-lg-3">
            <img src="{% static './img/client/client22.png' %}" alt="" class="img-fluid">
          </div>
          <div class="col-4 col-md-3 col-lg-3">
            <img src="{% static './img/client/client23.png' %}" alt="" class="img-fluid">
          </div>
          </div>

          <div class="row mt-5 d-flex justify-content-center justify-content-lg-center">

            
            <div class="col-4 col-md-3 col-lg-3">
              <img src="{% static './img/client/client24.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-4 col-md-3 col-lg-3">
            <img src="{% static './img/client/client25.png' %}" alt="" class="img-fluid">
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <p class="carousel-text mt-4">I always buy Diwali gift for my employees
          from here! They really have a wide range of
          products. Certainly the best in this market. <br>
          - Kusum Mehra
        </p>
      </div>
    </div>
  </div>
</div> -->
  
<div class="container">

<div class="row d-flex justify-content-around">
  <div class="col-8 col-md-3 col-lg-3 brand-grids wow fadeInUp">
      <div class="row d-flex justify-content-center">
          <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid branding-img">
      </div>
      <p class="braning-text">I always buy Diwali gift for my
          employees from here! They
          really have a wide range of
          products.  <br>
          - Kusum Mehra
      </p>
  </div>
  <div class="col-8 col-md-3 col-lg-3 brand-grids wow fadeInUp">
      <div class="row d-flex justify-content-center">
          <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid branding-img">
      </div>
      <p class="braning-text">I always buy Diwali gift for my
          employees from here! They
          really have a wide range of
          products.  <br>
          - Kusum Mehra
      </p>
  </div>
  <div class="col-8 col-md-3 col-lg-3 brand-grids wow fadeInUp">
      <div class="row d-flex justify-content-center">
          <img src="{% static './img/400-200.png' %}" alt="" class="img-fluid branding-img">
      </div>
      <p class="braning-text">I always buy Diwali gift for my
          employees from here! They
          really have a wide range of
          products. <br>
          - Kusum Mehra
      </p>
  </div>
 

</div>
</div>
  
<div class="container">

  <div class="row mt-5 mb-5">
    <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 wow fadeInLeft">
          <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <img src="{% static 'img/iicon.png'%}" alt="" class="img-fluid img-he">
               
              </div>
            <div class="col-12">
              <p class="getin-text">Got a Query?</p>
            <p class="getin-sub-text">Please feel free to reach out !! <br> will get back to You ASAP!</p>
            </div>
          </div>
          
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 wow fadeInUp">
        <div class="row d-flex justify-content-center">
          <div class="col-10 getin-touch-form">
            <form class="mt-4">
              <div class="form-group togold">
                <input type="text" class="form-control form-line" placeholder="FIRST NAME">
              </div>
              <div class="form-group togold">
                <input type="email" class="form-control form-line" placeholder="EMAIL ID">
              </div>
              <div class="form-group togold">
                <input type="number" class="form-control form-line" placeholder="PHONE">
              </div>
              <div class="form-group togold">
                <input type="text" class="form-control form-line" placeholder="MESSAGE">
              </div>
              <button type="submit" class="btn btn-lg btnsubmit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </div>

{% endblock content %}