{% extends 'main.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col-12 col-md-12 col-lg-12 mt-5 mb-5">
            <p class="main-headin">SERVICES</p>
            <p class="main-sub-head">One place for all your gifting needs!</p>
        </div>
        
        
        <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
            <div class="row d-flex justify-content-center">
              <div class="col-10 col-md-10 col-lg-10 services-gridclo">
                <div class="row d-flex justify-content-center">
                  <img src="{% static '/img/400-200.png' %}" class="img-fluid serv-grid-img" alt="">
                </div>
                
                <p class="grid-text">NEW JOINER / ONBOARDING KITS</p>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
            <div class="row d-flex justify-content-center">
              <div class="col-10 col-md-10 col-lg-10 services-gridclo">
                <div class="row d-flex justify-content-center">
                  <img src="{% static '/img/400-200.png' %}" class="img-fluid serv-grid-img" alt="">
                </div>
                
                <p class="grid-text">WORK FROM HOME SETUPS</p>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
            <div class="row d-flex justify-content-center">
              <div class="col-10 col-md-10 col-lg-10 services-gridclo">
                <div class="row d-flex justify-content-center">
                  <img src="{% static '/img/400-200.png' %}" class="img-fluid serv-grid-img" alt="">
                </div>
                
                <p class="grid-text">ANNUAL DAY GIFTS</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
          <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-10 col-lg-10 services-gridclo">
              <div class="row d-flex justify-content-center">
                <img src="{% static '/img/400-200.png' %}" class="img-fluid serv-grid-img" alt="">
              </div>
              
              <p class="grid-text">FESTIVAL / SPECIAL OCCASION GIFTS</p>
              </div>
          </div>
      </div>

     
    </div>
    <div class="row mb-4 mt-5">
        
      <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
        <div class="row d-flex justify-content-center">
          <div class="col-10 col-md-10 col-lg-10 services-gridclo">
            <div class="row d-flex justify-content-center">
              <img src="{% static '/img/400-200.png' %}" class="img-fluid serv-grid-img" alt="">
            </div>
            
            <p class="grid-text">EMPLOYEE APPRECIATION GIFTS</p>
            </div>
        </div>
    </div>
        
        
        <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
            <div class="row d-flex justify-content-center">
              <div class="col-10 col-md-10 col-lg-10 services-gridclo">
                <div class="row d-flex justify-content-center">
                  <img src="{% static '/img/400-200.png' %}" class="img-fluid serv-grid-img" alt="">
                </div>
                
                <p class="grid-text">RETIREMENT / GRATITUDE GIFTS</p>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
            <div class="row d-flex justify-content-center">
              <div class="col-10 col-md-10 col-lg-10 services-gridclo">
                <div class="row d-flex justify-content-center">
                  <img src="{% static '/img/400-200.png' %}" class="img-fluid serv-grid-img" alt="">
                </div>
                
                <p class="grid-text">REWARD AND RECOGNITION PROGRAMS</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3 wow fadeInUp serv-grid">
          <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-10 col-lg-10 services-gridclo">
              <div class="row d-flex justify-content-center">
                <img src="{% static '/img/400-200.png' %}" class="img-fluid serv-grid-img" alt="">
              </div>
              
              <p class="grid-text">BRAND PROMOTION PRODUCTS</p>
              </div>
          </div>
      </div>
    </div>


</div>



{% endblock %}











