{% load static %}

<div class="foot-sect">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-3">
        <img src="{% static './img/logo.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-12 col-md-2 col-lg-2 foot-grid-text">
        <p class="contact-text">CONTACT INFO:</p>
        <p>Address: <br> Ramky One North, Doddaballapur main road, Yelahanka, Avalahali, Singanayakanahali, Bengaluru Urban, Pincode - 560064</p>
        <p>Phone number: <br> +91 6364986669</p>
        <p>Email: <br> info@stellargifts.in</p>
      </div>
      <div class="col-12 col-md-2 col-lg-2 foot-grid-text">
        <p class="contact-text"> FIND US ON:</p>
        <p>Facebook <i class="fab fa-facebook-square"></i></p>
        <p>Twitter <i class="fab fa-twitter-square"></i></p>
        <p>YouTube <i class="fab fa-youtube-square"></i></p>
        <p>Linkedin <i class="fab fa-linkedin"></i></p>
      </div>
      <div class="col-12 col-md-2 col-lg-2 foot-grid-text"> 
        <p class="contact-text">Head office : Chennai,</p>
        <ul class="list-unstyled res-text-center">
          <li><i class="fas fa-phone-alt footicons"></i> Mrs. Veena – 9384806009
            <br/>
            <i class="fas fa-envelope footicons"></i>veenasudhakar@stellargifts.in
          </li>
          <br>
          <li>Branch offices : Bangalore & Mysore
            <br/>
            <br/>
            <i class="fas fa-phone-alt footicons"></i>
            Mrs. Gowri – 6364986669
            <br>
            <i class="fas fa-envelope footicons"></i>gowrirajesh@stellargifts.in
          </li>
          <br>
          <li><i class="fas fa-phone-alt footicons"></i>Mr. Suresh – 9019890651</li>
          <li><i class="fas fa-envelope footicons"></i>sureshkannan@stellargifts.in</li>
        </ul>
      </div>
    </div>
  </div>