{% load static %}

<div class="foot-sect">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-3">
        <img src="{% static './img/logo.png' %}" alt="" class="img-fluid">
      </div>
      <div class="col-12 col-md-2 col-lg-2 foot-grid-text">
        <p class="contact-text">CONTACT INFO:</p>
        <p>Address: <br>Stellar Gifts, XYZ, ABC. </p>
        <p>Business hours: <br>Mon to Fri - 8AM to 5PM </p>
        <p>Phone number: <br> 0151 489 7575</p>
        <p>Email: <br> sales@stellargifts.in</p>
      </div>
      <div class="col-12 col-md-2 col-lg-2 foot-grid-text">
        <p class="contact-text"> FIND US ON:</p>
        <p>Facebook <i class="fab fa-facebook-square"></i></p>
        <p>Twitter <i class="fab fa-twitter-square"></i></p>
        <p>YouTube <i class="fab fa-youtube-square"></i></p>
        <p>Linkedin <i class="fab fa-linkedin"></i></p>
      </div>
      <div class="col-12 col-md-2 col-lg-2 foot-grid-text"> 
        <p class="contact-text">Head office : Chennai,</p>
        <ul class="res-text-center">
          <li>Mrs. Veena – 9384806009
            <br/>
            veenasudhakar@stellargifts.in
          </li>
          <br>
          <li>Branch offices : Bangalore & Mysore
            <br/>
            Mrs. Gowri – 6364986669
            <br>
            gowrirajesh@stellargifts.in
          </li>
          <br>
          <li>Mr. Suresh – 9019890651</li>
          <li>sureshkannan@stellargifts.in</li>
        </ul>
      </div>
    </div>
  </div>