{% load static %}

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static './img/logo.png' %}" alt="" class="img-fluid logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projects' %}">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <span class="btn dropdown-toggle drop-btn nav-link" type="button" id="dropdowntwo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SERVICES
            </span>
            <div class="dropdown-menu" aria-labelledby="dropdowntwo">
              <a class="dropdown-item" href="#">Service 1</a>
              <a class="dropdown-item" href="#">Service 2</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">REVIEWS</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">CONTACT US</a>
        </li>
        
      </ul>
    </div>
  </nav>